<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudestudio.hosgetserver.model.mapper.OrderMapper">
    <!--查询逻辑-->
    <!--销售未出库查询:待销售出库-->
    <select id="queryOrderOutWareHouse" resultType="MedicineOrderBean">
        SELECT
            order_info_table.order_uid,
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            order_info_table.medicine_batch_number,
            order_info_table.order_time,
            order_info_table.order_seller,
            order_info_table.order_status,
            order_info_table.order_amount,
            order_info_table.order_quantity,
            order_info_table.order_outWareHouse
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_status = 1
          AND order_info_table.order_outWareHouse = 0;
    </select>

    <!--药剂名-销售金额相关查询-->
    <!--查询当日销售金额数据-->
    <select id="queryCurrentDaySell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM(order_info_table.order_amount) AS order_amount
        FROM
            order_info_table INNER JOIN medicine_base_table on medicine_base_table.medicine_code=order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND DATE(order_info_table.order_time) = CURDATE()
        GROUP BY
            order_info_table.medicine_code,medicine_base_table.medicine_name;
    </select>
    <!--查询昨日销售金额数据-->
    <select id="queryYesterdaySell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM(order_info_table.order_amount) AS order_amount
        FROM
            order_info_table INNER JOIN medicine_base_table on medicine_base_table.medicine_code=order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND DATE(order_info_table.order_time) = CURDATE() - INTERVAL 1 DAY
        GROUP BY
            order_info_table.medicine_code,medicine_base_table.medicine_name;
    </select>
    <!--查询上周销售金额数据-->
    <select id="queryLastWeekSell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM(order_info_table.order_amount) AS order_amount
        FROM
            order_info_table
                INNER JOIN
            medicine_base_table
            ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND YEARWEEK(order_info_table.order_time, 1) = YEARWEEK(CURDATE(), 1) - 1
        GROUP BY
            order_info_table.medicine_code,
            medicine_base_table.medicine_name;
    </select>
    <!--查询上月销售金额数据-->
    <select id="queryLastMonthSell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND (
            order_info_table.order_time BETWEEN DATE_FORMAT( DATE_SUB( CURDATE( ), INTERVAL 1 MONTH ), '%Y-%m-01' )
                AND DATE_ADD( LAST_DAY( DATE_SUB( CURDATE( ), INTERVAL 1 MONTH ) ), INTERVAL 1 DAY )
            )
        GROUP BY
            order_info_table.medicine_code,
            medicine_base_table.medicine_name;
    </select>
    <!--查询全年销售金额数据-->
    <select id="queryCurrentYearSell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
                AND order_info_table.order_status = 1
                AND Year(order_info_table.order_time)=year(CURDATE())
        GROUP BY
            order_info_table.medicine_code,
            medicine_base_table.medicine_name;
    </select>
    <!--查询总销售金额数据-->
    <select id="queryAllSell" resultType="MedicineOrderBean">
        SELECT
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_outWareHouse = 1
                AND order_info_table.order_status = 1
        GROUP BY
            order_info_table.medicine_code,
            medicine_base_table.medicine_name;
    </select>
    <!--药剂名-销售金额相关查询-->

    <!--总销售金额相关查询-->
    <!--当日总销售金额-->
    <select id="queryCurrentDayAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND DATE( order_info_table.order_time ) = CURDATE();
    </select>
    <!--昨日总销售金额-->
    <select id="queryYesterdayAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND DATE(order_info_table.order_time) = CURDATE() - INTERVAL 1 DAY;
    </select>
    <!--上周总销售金额-->
    <select id="queryLastWeekAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND YEARWEEK(order_info_table.order_time, 1) = YEARWEEK(CURDATE(), 1) - 1;
    </select>
    <!--上月总销售金额-->
    <select id="queryLastMonthAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1
          AND (
            order_info_table.order_time BETWEEN DATE_FORMAT( DATE_SUB( CURDATE( ), INTERVAL 1 MONTH ), '%Y-%m-01' )
                AND DATE_ADD( LAST_DAY( DATE_SUB( CURDATE( ), INTERVAL 1 MONTH ) ), INTERVAL 1 DAY )
            );
    </select>
    <!--全年总销售金额-->
    <select id="queryCurrentYearAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
            AND order_info_table.order_status = 1
            AND YEAR( order_info_table.order_time ) = YEAR( CURDATE());
    </select>
    <!--总销售金额-->
    <select id="queryAllAmount" resultType="OrderBean">
        SELECT
            SUM( order_info_table.order_amount ) AS order_amount
        FROM
            order_info_table
        WHERE
            order_info_table.order_outWareHouse = 1
          AND order_info_table.order_status = 1;
    </select>
    <!--总销售金额相关查询-->

    <!--销售订单相关查询-->
    <select id="queryMonthAllOrder" resultType="MonthCountBean">
        WITH RECURSIVE Months (month_number) AS (
            SELECT 1
            UNION ALL
            SELECT month_number + 1 FROM Months WHERE month_number &lt; 12
        )
        SELECT
            Months.month_number,
            COALESCE(COUNT(DISTINCT order_info_table.order_uid), 0) AS order_count,
            COALESCE(COUNT(DISTINCT CASE WHEN order_info_table.order_status = 1 THEN order_info_table.order_uid END), 0) AS valid_count
        FROM
        Months
        LEFT JOIN order_info_table ON Months.month_number = MONTH(order_info_table.order_time)
        GROUP BY
            Months.month_number
        ORDER BY
            Months.month_number;
    </select>
    <!--有效订单,交易订单-->
    <select id="querySellOrderInfo" resultType="MedicineOrderBean">
        SELECT
            order_info_table.order_uid,
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            order_info_table.medicine_batch_number,
            order_info_table.order_time,
            ( CASE order_info_table.order_status WHEN 1 THEN '交易' ELSE '未交易' END ) AS order_status,
            order_info_table.order_amount,
            order_info_table.order_seller,
            order_info_table.order_quantity,
            ( CASE order_info_table.order_outWareHouse WHEN 1 THEN '出库' ELSE '未出库' END ) AS order_outWareHouse,
            order_info_table.sell_type
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_status = 1;
    </select>
    <!--未交易订单-->
    <select id="queryUnSellOrderInfo" resultType="MedicineOrderBean">
        SELECT
            order_info_table.order_uid,
            order_info_table.medicine_code,
            medicine_base_table.medicine_name,
            order_info_table.medicine_batch_number,
            order_info_table.order_time,
            ( CASE order_info_table.order_status WHEN 1 THEN '交易' ELSE '未交易' END ) AS order_status,
            order_info_table.order_amount,
            order_info_table.order_seller,
            order_info_table.order_quantity,
            ( CASE order_info_table.order_outWareHouse WHEN 1 THEN '出库' ELSE '未出库' END ) AS order_outWareHouse,
            order_info_table.sell_type
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON medicine_base_table.medicine_code = order_info_table.medicine_code
        WHERE
            order_info_table.order_status = 0;
    </select>
    <!--查询订单以及药品名-->
    <select id="queryOrderBaseAndMedicineName" parameterType="java.util.Map" resultType="MedicineOrderBean">
        SELECT
            order_info_table.order_uid,
            order_info_table.medicine_code,
            order_info_table.medicine_batch_number,
            order_info_table.order_time,
            order_info_table.order_amount,
            order_info_table.order_status,
            order_info_table.order_quantity,
            medicine_base_table.medicine_name
        FROM
            order_info_table
                INNER JOIN medicine_base_table ON order_info_table.medicine_code = medicine_base_table.medicine_code
        WHERE
            order_info_table.order_uid = #{order_uid}
          AND order_info_table.medicine_code = #{medicine_code}
            LIMIT 1;
    </select>

    <!--查询订单时间-->
    <select id="queryOrderTime" parameterType="String" resultType="String">
        SELECT
            order_info_table.order_time
        FROM
            order_info_table
        WHERE
            order_info_table.order_uid = #{order_uid}
            LIMIT 1;
    </select>
    <!--销售订单相关查询-->


    <!--插入逻辑-->
    <!--创建订单条目-->
    <insert id="addOrderItem" parameterType="java.util.Map">
        INSERT INTO order_info_table
        (order_uid,medicine_code,medicine_batch_number,order_time,order_amount,order_seller,order_quantity,sell_type)
        VALUES
            (#{order_uid},#{medicine_code},#{medicine_batch_number},#{order_time},#{order_amount},#{order_seller},#{order_quantity},#{sell_type});
    </insert>

    <!--更新逻辑-->
    <!--更新订单交易数量-->
    <update id="updateOrderQuantity" parameterType="java.util.Map">
        UPDATE order_info_table
        SET order_info_table.order_quantity = #{order_quantity}
        WHERE
            order_info_table.order_uid = #{order_uid}
          AND order_info_table.medicine_code=#{medicine_code}
          AND order_info_table.medicine_batch_number=#{medicine_batch_number};
    </update>
    <!--更新订单交易状态-->
    <update id="updateOrderStatus" parameterType="String">
        UPDATE order_info_table
        SET order_info_table.order_status = 1
        WHERE
            order_info_table.order_uid = #{order_uid};
    </update>
    <!--更新出库订单状态-->
    <update id="upOrderOutWareHouse" parameterType="java.util.Map">
        UPDATE order_info_table
        SET order_info_table.order_outWareHouse = 1
        WHERE
            order_info_table.order_uid = #{order_uid}
          AND order_info_table.medicine_code = #{medicine_code}
          AND order_info_table.medicine_batch_number=#{medicine_batch_number};
    </update>

    <!--删除逻辑-->
    <!--移除订单条目-->
    <delete id="removeOrderItem" parameterType="java.util.Map">
        DELETE FROM order_info_table
        WHERE order_info_table.order_uid=#{order_uid}
            AND order_info_table.medicine_batch_number=#{medicine_batch_number};
    </delete>
</mapper>